@import './base.css';

body {
  background-color: #f8f8f8;
}

#app {
  font-weight: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.centered {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

a {
  text-decoration: none;
}

header {
  line-height: 1.5;
  background-color: #ffffff;
  border-bottom: 1px solid #e3e3e3;
}